h1 a, h2 a {
    color: #C25100;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
    background-color: #FFF7F2;
}

div.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

div.page-header h1,
div.page-header h1 a,
div.page-header h1 a:visited,
div.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

div.content {
    margin-left: 40px;
}

div.post {
    margin-bottom: 40px;
    border-bottom: 1px solid #C25100;
    padding-bottom: 20px;
}

div.post h2 a {
    color: #000000;
    font-size: 18pt;
}

.date {
    color: #828282;
}
